<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/nav') %>

            <div class="container p-4">
                <h2 class="text-center p-4">POST 😆</h2>
                <div class="row p-2">
                    <div class="col-md-6 p-4 mx-auto">
                        <% data.forEach (post=> { %>
                            <div class="card text-center">
                                <div class="card-header">
                                    <h3 class="card_title">
                                        <%= post.title %>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-description">
                                        <%= post.description %>
                                    </p>
                                </div>
                                <div class="card-footer  ">
                                    <div class="footer d-flex justify-content-evenly ">

                                        <p class="card-author"> Author: <b class="card-author-au">
                                                <%= post.user %>
                                            </b> </p>
                                        <p class="card-id">Post: #<b>
                                                <%= post.id_post %>
                                            </b></p>
                                    </div>
                                    <div class="footer d-flex justify-content-evenly ">

                                        <p class="card-date">Published:
                                            <%= dateAndTime.format(post.created_at, ' DD/MM/YYYY' ) %>
                                        </p>
                                        <p class="card-icon"><i class="bi bi-chat-dots"></i>
                                            <%= dataComment.length %>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <br>
                           <% if(!user){ %>
                             <button type="button" disabled id="btnComment" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@mdo">Comment</button>

                            <% } %>
                            <% if(user){ %>
                                <button type="button" id="btnComment" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@mdo">Comment</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">New message </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/post/<%= post.id_post %>/add" method="post"
                                                    enctype="application/x-www-form-urlencoded">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control" disabled
                                                            value="<%= user.user %>">
                                                        <input type="hidden" id="user" name="user"
                                                            value="<%= user.id_user %>">

                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text"
                                                            class="col-form-label">Message:</label>
                                                        <textarea class="form-control" id="comment" name="comment"
                                                            rows="5"></textarea>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" onclick="alert('mensaje enviado')"
                                                    class="btn btn-primary">Send message</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% } %>


                    </div>
                    <% }) %>

                </div>
            </div>

            <%- include('../partials/comment') %>
                <script src="/js/formComment.js"></script>
    </body>

</html>