<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <div class="backgraund">
    <%- include ('./partials/nav') %>


        <div class="card mx-auto m-4" style="width: 28rem;">
          <h2 class="text-center m-4">Bienvenido a My Post</h2>
          <div class="card-body text-center ">
            <h4> Aquí eres libre de expresar lo que sientas!😉 </h4>
            <a href="/allPosts" class="btn btn-outline-danger m-4">READ POSTS</a>
            <a href="/auth/login" class="btn btn-outline-primary m-4">PUBLISH</a>
          </div>
        </div>
      
      <div class="container p-4">
        <h2 class="text-center p-4">Posts random from users 😆</h2>
        <div class="row p-2">
          <% randomPost.slice(0,6).forEach(post=> { %>
            <div class="col-md-4 p-4 mx-auto">
              <div class="card text-center">
                <a href="/post/<%= post.id_post %>" class="card-link">
                  <div class="card-header">
                    <h3 class="card_title_home">
                      <%= post.title %>
                    </h3>
                  </div>
                  <div class="card-body">
                    <p class="card-description-home">
                      <% const sentence=post.description.split(' ');
                              const shortSentence = sentence.slice(0,10).join(" ")
                              const moreText = sentence.length > 10 ? "..." : ""
                              
                              %>
                              <%= shortSentence + moreText %>
                                  
                          </p>
                      </div>
                      
                      <div class="card-footer  ">
                      <div class="footer d-flex justify-content-evenly ">

                          <p class="card-author-home">Author: <b>
                                  <%= post.user %>
                              </b> </p>
                              <p class="card-author-home"> Post: #<b>
                                  <%= post.id_post %>
                              </b></p>
                          </div>
                          <div class="footer d-flex justify-content-evenly ">
                              
                              <p class="card-author-home">Published:
                              <%= dateAndTime.format(post.created_at, ' DD/MM/YYYY' ) %>
                    </p>
                    <p class="card-author-home"><i class="bi bi-chat-dots"></i>
                      <%= post.commentCount %>
                    </p>
                  </div>
              </div>
              </a>




            </div>
        </div>


        <% }) %>
      </div>
    </div>
  </div>
  </body>

</html>